<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<servlet>
		<servlet-name>studentAdd</servlet-name>
		<servlet-class>com.schoolmanagement.controller.students.AddStudentController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>studentAdd</servlet-name>
		<url-pattern>/addStudent</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>studentManage</servlet-name>
		<servlet-class>com.schoolmanagement.controller.students.ManageStudentController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>studentManage</servlet-name>
		<url-pattern>/manageStudent</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addTeacher</servlet-name>
		<servlet-class>com.schoolmanagement.controller.teachers.AddTeacherController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>addTeacher</servlet-name>
		<url-pattern>/addTeacher</url-pattern>
	</servlet-mapping>
</web-app>